@page "/deck/create"
@model CreateModel
@{
}

<h1>Create new Deck</h1>
<form method="post">
    <input name="name" type="text"/>
    <textarea name="description"></textarea>
    <select name="language" class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="FR">FR</option>
        <option value="RU">RU</option>
    </select>
    <button type="submit">Create</button>
</form>